@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inria Sans", sans-serif;
  height: 100vh;
}

input,
select {
  max-width: 10rem;
  max-height: 2rem;
  padding: 0.4rem 0.6rem;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  outline: none;
}

.container {
  padding: 1rem;
}

.frame {
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}
.header .navbar .navbar-list {
  display: flex;
  gap: 2rem;
}
.header .navbar .navbar-list a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}

.main .form-section .form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 4rem;
  overflow: hidden;
  transition: all 350ms ease;
}
.main .form-section .form-container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main .form-section .form-container .wrapper h2 {
  text-align: center;
}
.main .form-section .form-container .wrapper img {
  width: 1.8rem;
  cursor: pointer;
}
.main .form-section .form-container .inputs-container {
  display: flex;
  justify-content: space-between;
}
.main .form-section .form-container .inputs-container .inputs-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 35%;
}
.main .form-section .form-container .inputs-container .inputs-box .inputs {
  display: flex;
  justify-content: space-between;
}
.main .form-section .form-container .inputs-container .inputs-box .add-flight-box {
  display: flex;
  justify-content: center;
}
.main .form-section .form-container .inputs-container .inputs-box .add-flight-box #add-flight-btn {
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.main .form-section .form-container .inputs-container .inputs-box .add-flight-box #add-flight-btn:hover {
  opacity: 0.8;
}
.main .form-section .form-container .inputs-container .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
.main .form-section .form-container .inputs-container .description h3 {
  text-align: justify;
  letter-spacing: 0.05rem;
  padding-right: 2rem;
  font-size: 1.1rem;
}
.main .form-section .form-container-active {
  max-height: 20.465rem;
}
.main .flights-section .flights-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}
.main .flights-section .flights-container .flight-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 23rem;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  padding: 1rem;
}
.main .flights-section .flights-container .flight-card .image-box {
  width: 20rem;
  height: 11.25rem;
  border-radius: 0.6rem;
  overflow: hidden;
  cursor: pointer;
}
.main .flights-section .flights-container .flight-card .image-box image {
  -o-object-fit: cover;
     object-fit: cover;
}
.main .flights-section .flights-container .flight-card #edit-btn {
  align-self: flex-end;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.main .flights-section .flights-container .flight-card #edit-btn:hover {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */